.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 222, 179, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: wheat;
}

a:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.btn-img {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
    background-size: contain;
    width: 7%;
    background-position: center;
    background-repeat: no-repeat;
}

.text-area {
    resize: vertical;
    min-height: 250px;
    border-radius: 15px;
    background-color: #333;
    color: wheat;
    border-color: #333;
}

div.options {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1%;
}

button.option-switch {
    grid-area: 1 / 1 / 2 / 2;
    min-width: 33px;
    min-height: 33px;
}

div.option-from {
    grid-area: 1 / 2 / 2 / 3;
}

button.option-convert {
    grid-area: 1 / 3 / 2 / 4;
    min-width: 33px;
    min-height: 33px;
}

div.option-to {
    grid-area: 1 / 4 / 2 / 5;
}

button.option-ctc {
    grid-area: 1 / 5 / 2 / 6;
    min-width: 33px;
    min-height: 33px;
}

div.container-all {
    padding-left: 20%;
    padding-right: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media screen and (max-width: 479px) {
    div.container-all {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    div.options {
        display: grid;
        min-height: 150px;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    button.option-switch {
        grid-area: 2 / 1 / 3 / 2;
        min-width: 50px;
        min-height: 50px;
    }
    div.option-from {
        grid-area: 1 / 2 / 2 / 3;
        align-self: flex-start;
    }
    button.option-convert {
        grid-area: 2 / 2 / 3 / 3;
        min-width: 50px;
        min-height: 50px;
    }
    div.option-to {
        grid-area: 3 / 2 / 4 / 3;
        align-self: flex-end;
    }
    button.option-ctc {
        grid-area: 2 / 3 / 3 / 4;
        min-width: 50px;
        min-height: 50px;
    }
}