<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #333;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#home" style="padding-left: 25px; padding-right: 25px; font: bold; font-size: 25px; color: wheat;">Universal Converter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: wheat;"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color: wheat;" (click)="OnClickButtonCategory(1)" href="#currency">Currency</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: wheat;" (click)="OnClickButtonCategory(2)" href="#temperature">Temperature</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color: wheat;" aria-expanded="false">Number</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#base" (click)="OnClickButtonCategory(3)">Base</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn" style="color: wheat;" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div style="padding-left: 20%; padding-right: 30%; padding-top: 1%; padding-bottom: 1%;">
    <h1>{{currentCategory}}</h1>

    <br>

    <div class="mb-3">
        <textarea class="form-control" [(ngModel)]="textAreaInputText" placeholder="Input text..." id="textAreaInput" style="resize: vertical; min-height: 250px;"></textarea>
    </div>

    <div class="flex-container " style="display: flex; justify-content: space-evenly; padding-top: 1%; ">
        <button type="button " class="btn btn-secondary " (click)="OnClickButtonSwitch() ">Switch</button>

        <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle " (click)="OnClickButtonFrom() " type="button " id="dropdownMenuButtonFrom " data-toggle="dropdown " aria-expanded="false ">
                From
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButtonFrom " id="dropdownMenuFromUL " style="max-height: 170px; overflow-y: auto; "></ul>
        </div>

        <button type="button " class="btn btn-secondary " (click)="OnClickButtonConvert()">Convert</button>

        <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle " (click)="OnClickButtonTo() " type="button " id="dropdownMenuButtonTo " data-toggle="dropdown " aria-expanded="false ">
                To
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButtonTo " id="dropdownMenuToUL " style="max-height: 170px; overflow-y: auto; "></ul>
        </div>

        <button type="button " class="btn btn-secondary " (click)="OnClickButtonCTC() ">CTC</button>
    </div>

    <br>

    <div class="mb-3 ">
        <textarea readonly class="form-control" [(ngModel)]="textAreaOutputText" placeholder="Output text... " id="textAreaOutput " style="resize: vertical; min-height: 250px; "></textarea>
    </div>
</div>

<router-outlet></router-outlet>