<nav class="navbar navbar-expand-lg sticky-top theme-04">
    <div class="container-fluid">

        <a class="navbar-brand theme-0" href="" style="padding-left: 25px; padding-right: 25px; font: bold; font-size: 25px;">
            Universal Converter
        </a>

        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon theme-0"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link theme-0" (click)="OnClickButtonCategory(1)" onclick="event.preventDefault();" href="">
                        Currency
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-0" (click)="OnClickButtonCategory(2)" onclick="event.preventDefault();" href="">
                        Temperature
                    </a>
                </li>
                <li class="nav-item dropdown theme-0">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Number
                    </a>
                    <ul class="dropdown-menu theme-04" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item theme-0" href="" (click)="OnClickButtonCategory(3)" onclick="event.preventDefault();">
                            Base
                        </a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <div class="dropdown option-from">
                    <input class="form-control me-2 theme-01" id="searchQuery" (focus)="OnFocusInputSearch()" (focusout)="OnFocusOutInputSearch()" (keyup)="OnKeyDownInput()" type="search" placeholder="Search..." aria-label="Search">
                    <ul class="dropdown-menu theme-04" aria-labelledby="buttonSearch" id="dropdownMenuSearchUL" style="min-width: 215px; max-height: 170px; overflow-y: auto;"></ul>
                </div>
                <button class="btn btn-secondary theme-06" (click)="OnClickButtonSearch()" type="submit" id="buttonSearch" data-toggle="dropdown" aria-expanded="false">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="theme-08 container-all">
    <h1>{{currentCategory}}</h1>

    <br>

    <div class="mb-3">
        <textarea class="form-control text-area theme-09" [(ngModel)]="textAreaInputText" placeholder="Input text..." id="textAreaInput"></textarea>
    </div>

    <div class="options" style="padding-top: 1%;">
        <button type="button" class="btn btn-secondary btn-img option-switch" (click)="OnClickButtonSwitch()" style="background-image: url(../assets/Switch.png);"></button>

        <div class="dropdown option-from">
            <button class="btn btn-secondary dropdown-toggle theme-07" (click)="OnClickButtonFrom()" type="button" id="dropdownMenuButtonFrom" data-toggle="dropdown" aria-expanded="false" style="border-radius: 15px;">
                From
            </button>
            <ul class="dropdown-menu theme-04" aria-labelledby="dropdownMenuButtonFrom" id="dropdownMenuFromUL" style="max-height: 170px; overflow-y: auto;"></ul>
        </div>

        <button type="button" class="btn btn-secondary btn-img option-convert" (click)="OnClickButtonConvert()" style="background-image: url(../assets/Convert.png);"></button>

        <div class="dropdown option-to">
            <button class="btn btn-secondary dropdown-toggle theme-07" (click)="OnClickButtonTo()" type="button" id="dropdownMenuButtonTo" data-toggle="dropdown" aria-expanded="false" style="border-radius: 15px;">
                To
            </button>
            <ul class="dropdown-menu theme-04" aria-labelledby="dropdownMenuButtonTo" id="dropdownMenuToUL" style="max-height: 170px; overflow-y: auto;"></ul>
        </div>

        <button type="button" class="btn btn-secondary btn-img option-ctc" (click)="OnClickButtonCTC()" style="background-image: url(../assets/CTC.png);"></button>
    </div>

    <br>

    <div class="mb-3">
        <textarea readonly class="form-control text-area theme-09" [(ngModel)]="textAreaOutputText" placeholder="Output text..." id="textAreaOutput"></textarea>
    </div>
</div>

<app-sign-up></app-sign-up>
<app-log-in></app-log-in>

<app-toast></app-toast>
<app-footer></app-footer>

<router-outlet></router-outlet>